* {
    margin: 0;
    padding: 0;
    outline: 0px dotted pink;
}

body {
    background-color: whitesmoke;
}

h1{
    text-align: center;
}

div.content{
    padding: 20px;
    background-color: gray;
    margin: 0 auto;
    width: max-content;
}



#tetris {
    margin-left: 10px;
    width: auto;
    display: inline-block;
}

div.row {
    height: 20px;
}

div.row div {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid black;
}

div.empty {
    background-color: black;
}

div.yellow {
    background-color: yellow;
}

div.red {
    background-color: red;
}

div.blue {
    background-color: blue;
}

div.green {
    background-color: green;
}

div.help{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    padding: 10px;
}

#info{
    height: 292px;
    background-color: darkslategray;
    color: white;
    padding: 10px;

}

#info h2{
    margin-top: 15px;
}

#score span{
    font-weight: bolder;
}

#instructions ul{
    list-style: none;
}
#instructions li{
    margin-top: 5px;
    text-align: center;
}

#status {
    text-align: center;
    text-shadow: azure;
    background-color: darkblue;
    color: orange;
    display: inline-block;
    width: 300px;
    height: 30px;
    padding:20px 0;
    font-size: 30px;
}